### Demo notebook illustrating how to use `animal-soup`

In [1]:
from animal_soup import *
import pandas as pd
import numpy as np
import os

2023-06-16 09:32:59.382253: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-06-16 09:32:59.838147: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT
/home/clewis7/repos/animal-soup/animal_soup/batch_utils.py:148: UserWarning: registration of accessor <class 'animal_soup.batch_utils.PathsDataFrameExtension'> under name 'paths' for type <class 'pandas.core.frame.DataFrame'> is overriding a preexisting attribute with the same name.
  @pd.api.extensions.register_dataframe_accessor("paths")
/home/clewis7/repos/animal-soup/animal_soup/batch_utils.py:153: UserWarning: registration of accessor <class 'animal_soup.batch_utils.PathsSeriesExtension'> under name 'paths' for type <class 'pandas.core.series.Series'> is overriding a preexisting attribute with the same name.
  @pd.api.extensions.register_series_accessor("paths")
/home/clewis7/repos/animal-soup/animal_soup/extensions/viewer.py:8: UserWarning: registration of accessor <class 'animal_soup.extensions.viewer.BehaviorDataFrameVizExtension'> under name 'behavior' for type <class 'pandas.core.frame.DataFrame'> is overriding a preexisting attribute with the same name.
  @pd.api.extensions.register_dataframe_accessor("behavior")

# Paths

Will need to set paths according to your own data storage location. Data should be stored in the following format:

Example:

`/home/{user}/data/`

    `animal_id/`

        `session_id/`
            
            `trial_vid1`
            
            `trial_vid2`
            
            ...

        `session_id/`
            
            `trial_vid1`
            
            `trial_vid2`
            
            ...

        ...

`set_parent_raw_data_path` - This function from `animal_soup` (modeled from `mesmerize_core`) sets the top level raw data directory. This should be set to the top level directory where your behavioral data is stored. This allows you to move your behavioral data directory structure between computers, as long as you keep everything under the parent path the same.

In [2]:
# for this demo set this dir as the path to your `animal_soup` demo data folder
set_parent_raw_data_path('/data/caitlin/ground_truth/')

PosixPath('/data/caitlin/ground_truth')

### Dataframe path, this is where your ethograms will be organized

This can be anywhere, it does not need to be under the parent raw data path.

In [3]:
df_path = get_parent_raw_data_path().joinpath('/data/caitlin/sample_df.hdf')

# Create a new batch

This will create a new pandas `DataFrame` with the columns necessary for `animal_soup`. You can additional columns as necessary, but do not modify the columns used by `animal_soup`.

<b> Note: you will need to use `load_df()` to load the dataframe later. You can use `create_df()` to overwrite an existing behavior dataframe by using the kward `remove_existing=True`.  <b>

In [4]:
# create a new batch
df = create_df(df_path, remove_existing=True)
# load an existing batch use `load_df()`
#df = load_df(df_path)

# View the dataframe

It is empty with the appropriate columns for `animal_soup`

In [5]:
df

Empty DataFrame
Columns: [animal_id, session_id, ethograms, notes]
Index: []

# Adding items to the dataframe

Add an item to the dataframe using a pandas dataframe extension access modifier. 

Can add all sessions for a given animal or simply add a single animal/session.

In [6]:
# add all sessions for a given animal_id
df.behavior.add_item(animal_id="M232Slc17a7_Gtacr2")

# add a single session for a given animal_id
df.behavior.add_item(animal_id='M234Slc17a7_Gtacr2', session_id='20170328')

In [7]:
df

,animal_id,session_id,ethograms,notes
0,M232Slc17a7_Gtacr2,20170306,"{'M232_20170306_v024': None, 'M232_20170306_v0...",None
1,M232Slc17a7_Gtacr2,20170307,"{'M232_20170307_v064': None, 'M232_20170307_v0...",None
2,M232Slc17a7_Gtacr2,20170308,"{'M232_20170308_v028': None, 'M232_20170308_v0...",None
3,M232Slc17a7_Gtacr2,20170310,{'M232_20170310_v013': None},None
4,M232Slc17a7_Gtacr2,20170314,{'M232_20170314_v029': None},None
5,M234Slc17a7_Gtacr2,20170328,"{'M234_20170328_v002': None, 'M234_20170328_v0...",None

# Removing items from the dataframe

Remove items from the dataframe using a pandas dataframe extension access modifier.

Can remove all sessions for a given animal or simply remove a single animal/session.

In [8]:
# remove all sessions for a given animal
df.behavior.remove_item(animal_id='M232Slc17a7_Gtacr2')

# remove single session for a given animal
df.behavior.remove_item(animal_id='M234Slc17a7_Gtacr2', session_id='20170328')

/home/clewis7/repos/animal-soup/animal_soup/extensions/common.py:194: UserWarning: No `session_id` provided, will remove all items for provided animal_id: M232Slc17a7_Gtacr2
  warnings.warn("No `session_id` provided, will remove all items for provided "

In [9]:
df

Empty DataFrame
Columns: [animal_id, session_id, ethograms, notes]
Index: []

# Adding all animals and all sessions

In [10]:
animal_ids = [a.stem for a in sorted(get_parent_raw_data_path().glob('M*'))]

In [11]:
for a in animal_ids:
    df.behavior.add_item(animal_id=a)

In [12]:
df

,animal_id,session_id,ethograms,notes
0,M232Slc17a7_Gtacr2,20170306,"{'M232_20170306_v024': None, 'M232_20170306_v0...",None
1,M232Slc17a7_Gtacr2,20170307,"{'M232_20170307_v064': None, 'M232_20170307_v0...",None
2,M232Slc17a7_Gtacr2,20170308,"{'M232_20170308_v028': None, 'M232_20170308_v0...",None
3,M232Slc17a7_Gtacr2,20170310,{'M232_20170310_v013': None},None
4,M232Slc17a7_Gtacr2,20170314,{'M232_20170314_v029': None},None
...,...,...,...,...
102,M324Slc17a7_Chr2_Bpn_CBPM,20201015,"{'M324_20201015_v126': None, 'M324_20201015_v1...",None
103,M326Slc17a7_Chr2_Bpn_DCN,20201110,"{'M326_20201110_v001': None, 'M326_20201110_v0...",None
104,M328Slc17a7_Chr2_Bpn_DCN,20201130,{'M328_20201130_v001': None},None
105,M336DYT1,20210612,"{'M336_20210612_v001': None, 'M336_20210612_v0...",None
106,M336DYT1,20210613,{'M336_20210613_v001': None},None

# View behavior videos

Using `ipydatagrid` and `fastplotlib` can view behavior data. Allows movement across trials in each animal/session.

In [13]:
df.behavior.behavior_view().show()

/home/clewis7/venvs/mescore/lib/python3.11/site-packages/ipydatagrid/datagrid.py:445: UserWarning: Index name of 'index' is not round-trippable.
  schema = pd.io.json.build_table_schema(dataframe)

RFBOutputContext()

/home/clewis7/repos/mesmerize-core/mesmerize_core/arrays/_video.py:87: UserWarning: min not implemented for LazyTiff, returning min of 0th index
  warn("min not implemented for LazyTiff, returning min of 0th index")
/home/clewis7/repos/mesmerize-core/mesmerize_core/arrays/_video.py:92: UserWarning: max not implemented for LazyTiff, returning min of 0th index
  warn("max not implemented for LazyTiff, returning min of 0th index")

VBox(children=(DataGrid(auto_fit_params={'area': 'all', 'padding': 30, 'numCols': None}, base_row_size=24, col…