### Demo notebook illustrating how to use `animal-soup`

In [1]:
from animal_soup import *
import pandas as pd
import numpy as np
import os

# Paths

Will need to set paths according to your own data storage location. Data should be stored in the following format:

Example:

`/home/{user}/data/`

    `animal_id/`

        `session_id/`
            
            `trial_vid1`
            
            `trial_vid2`
            
            ...

        `session_id/`
            
            `trial_vid1`
            
            `trial_vid2`
            
            ...

        ...

`set_parent_raw_data_path` - This function from `animal_soup` (modeled from `mesmerize_core`) sets the top level raw data directory. This should be set to the top level directory where your behavioral data is stored. This allows you to move your behavioral data directory structure between computers, as long as you keep everything under the parent path the same.

In [2]:
# for this demo set this dir as the path to your `animal_soup` demo data folder
set_parent_raw_data_path('/data/caitlin/ground_truth/')

PosixPath('/data/caitlin/ground_truth')

### Dataframe path, this is where your ethograms will be organized

This can be anywhere, it does not need to be under the parent raw data path.

In [3]:
df_path = get_parent_raw_data_path().joinpath('/data/caitlin/sample_df.hdf')

# Create a new batch

This will create a new pandas `DataFrame` with the columns necessary for `animal_soup`. You can additional columns as necessary, but do not modify the columns used by `animal_soup`.

<b> Note: you will need to use `load_df()` to load the dataframe later. You can use `create_df()` to overwrite an existing behavior dataframe by using the kward `remove_existing=True`.  <b>

In [4]:
# create a new batch
df = create_df(df_path, remove_existing=True)
# load an existing batch use `load_df()`
#df = load_df(df_path)

# View the dataframe

It is empty with the appropriate columns for `animal_soup`

In [5]:
df

Empty DataFrame
Columns: [animal_id, session_id, trial_id, vid_path, ethograms, exp_type, model_params, notes]
Index: []

# Adding items to the dataframe

Add an item to the dataframe using a pandas dataframe extension access modifier. 

Can add all sessions for a given animal or simply add a single animal/session.

In [6]:
# add all sessions for a given animal_id
df.behavior.add_item(animal_id="M232Slc17a7_Gtacr2")

# add a single session for a given animal_id
df.behavior.add_item(animal_id='M234Slc17a7_Gtacr2', session_id='20170328', exp_type='table')

# add a single trial for a given animal_id and session_id
df.behavior.add_item(animal_id='M235Slc17a7_Gtacr2', 
                     session_id='20170424', 
                     trial_id='M235_20170424_v001', 
                     exp_type='table'
                    )

In [7]:
df

,animal_id,session_id,trial_id,vid_path,ethograms,exp_type,model_params,notes
0,M232Slc17a7_Gtacr2,20170306,M232_20170306_v017,M232Slc17a7_Gtacr2/20170306/M232_20170306_v017...,None,None,None,None
1,M232Slc17a7_Gtacr2,20170306,M232_20170306_v024,M232Slc17a7_Gtacr2/20170306/M232_20170306_v024...,None,None,None,None
2,M232Slc17a7_Gtacr2,20170306,M232_20170306_v025,M232Slc17a7_Gtacr2/20170306/M232_20170306_v025...,None,None,None,None
3,M232Slc17a7_Gtacr2,20170306,M232_20170306_v029,M232Slc17a7_Gtacr2/20170306/M232_20170306_v029...,None,None,None,None
4,M232Slc17a7_Gtacr2,20170306,M232_20170306_v036,M232Slc17a7_Gtacr2/20170306/M232_20170306_v036...,None,None,None,None
...,...,...,...,...,...,...,...,...
71,M234Slc17a7_Gtacr2,20170328,M234_20170328_v047,M234Slc17a7_Gtacr2/20170328/M234_20170328_v047...,None,table,None,None
72,M234Slc17a7_Gtacr2,20170328,M234_20170328_v056,M234Slc17a7_Gtacr2/20170328/M234_20170328_v056...,None,table,None,None
73,M234Slc17a7_Gtacr2,20170328,M234_20170328_v063,M234Slc17a7_Gtacr2/20170328/M234_20170328_v063...,None,table,None,None
74,M234Slc17a7_Gtacr2,20170328,M234_20170328_v068,M234Slc17a7_Gtacr2/20170328/M234_20170328_v068...,None,table,None,None
75,M235Slc17a7_Gtacr2,20170424,M235_20170424_v001,M235Slc17a7_Gtacr2/20170424/M235_20170424_v001...,None,table,None,None

# Removing items from the dataframe

Remove items from the dataframe using a pandas dataframe extension access modifier.

Can remove all sessions for a given animal or simply remove a single animal/session.

In [8]:
# remove item by index
df.behavior.remove_item(row_ix=0)

# remove all sessions for a given animal
df.behavior.remove_item(animal_id='M232Slc17a7_Gtacr2')

# remove single session for a given animal
df.behavior.remove_item(animal_id='M234Slc17a7_Gtacr2', session_id='20170328')

# remove single trial for given animal/session 
df.behavior.remove_item(animal_id='M235Slc17a7_Gtacr2', 
                        session_id='20170424', 
                        trial_id='M235_20170424_v001')

/home/clewis7/repos/animal-soup/animal_soup/extensions/behavior_extensions.py:246: UserWarning: No `session_id` provided, will remove all items for provided animal_id: M232Slc17a7_Gtacr2
  warnings.warn("No `session_id` provided, will remove all items for provided "
/home/clewis7/repos/animal-soup/animal_soup/extensions/behavior_extensions.py:257: UserWarning: No `trial_id` provided, will remove all items for provided animal_id: M234Slc17a7_Gtacr2 and session_id: 20170328
  warnings.warn("No `trial_id` provided, will remove all items for provided "

In [9]:
df

Empty DataFrame
Columns: [animal_id, session_id, trial_id, vid_path, ethograms, exp_type, model_params, notes]
Index: []

# Adding all animals and all sessions

In [10]:
animal_ids = [a.stem for a in sorted(get_parent_raw_data_path().glob('M*'))]

In [11]:
for a in animal_ids:
    df.behavior.add_item(animal_id=a)

ValueError: no trials found in this session: /data/caitlin/ground_truth/M291Slc17a7_Chr2_Bpn_DCN/20190627

In [12]:
df

,animal_id,session_id,trial_id,vid_path,ethograms,exp_type,model_params,notes
0,M232Slc17a7_Gtacr2,20170306,M232_20170306_v017,M232Slc17a7_Gtacr2/20170306/M232_20170306_v017...,None,None,None,None
1,M232Slc17a7_Gtacr2,20170306,M232_20170306_v024,M232Slc17a7_Gtacr2/20170306/M232_20170306_v024...,None,None,None,None
2,M232Slc17a7_Gtacr2,20170306,M232_20170306_v025,M232Slc17a7_Gtacr2/20170306/M232_20170306_v025...,None,None,None,None
3,M232Slc17a7_Gtacr2,20170306,M232_20170306_v029,M232Slc17a7_Gtacr2/20170306/M232_20170306_v029...,None,None,None,None
4,M232Slc17a7_Gtacr2,20170306,M232_20170306_v036,M232Slc17a7_Gtacr2/20170306/M232_20170306_v036...,None,None,None,None
...,...,...,...,...,...,...,...,...
935,M288Slc17a7_Chr2_Bpn_DCN,20190618,M288_20190618_v001,M288Slc17a7_Chr2_Bpn_DCN/20190618/M288_2019061...,None,None,None,None
936,M288Slc17a7_Chr2_Bpn_DCN,20190618,M288_20190618_v002,M288Slc17a7_Chr2_Bpn_DCN/20190618/M288_2019061...,None,None,None,None
937,M288Slc17a7_Chr2_Bpn_DCN,20190618,M288_20190618_v046,M288Slc17a7_Chr2_Bpn_DCN/20190618/M288_2019061...,None,None,None,None
938,M288Slc17a7_Chr2_Bpn_DCN,20190618,M288_20190618_v159,M288Slc17a7_Chr2_Bpn_DCN/20190618/M288_2019061...,None,None,None,None
939,M288Slc17a7_Chr2_Bpn_DCN,20190619,M288_20190619_v029,M288Slc17a7_Chr2_Bpn_DCN/20190619/M288_2019061...,None,None,None,None

# View behavior videos

Using `ipydatagrid` and `fastplotlib` can view behavior data. Allows movement across trials in each animal/session.

In [13]:
df.behavior.view(ethogram_view=False).show()

/home/clewis7/venvs/ansoup/lib/python3.11/site-packages/ipydatagrid/datagrid.py:445: UserWarning: Index name of 'index' is not round-trippable.
  schema = pd.io.json.build_table_schema(dataframe)

RFBOutputContext()

/home/clewis7/repos/animal-soup/animal_soup/arrays/_video.py:96: UserWarning: min not implemented for LazyTiff, returning min of 0th index
  warn("min not implemented for LazyTiff, returning min of 0th index")
/home/clewis7/repos/animal-soup/animal_soup/arrays/_video.py:101: UserWarning: max not implemented for LazyTiff, returning min of 0th index
  warn("max not implemented for LazyTiff, returning min of 0th index")

VBox(children=(DataGrid(auto_fit_params={'area': 'all', 'padding': 30, 'numCols': None}, base_row_size=24, col…

# View behavior data and corresponding ethograms

In [16]:
ground = load_df('/data/caitlin/ground_truth/ground_truth_table_1000.hdf')

In [17]:
ground.behavior.view().show()

/home/clewis7/venvs/ansoup/lib/python3.11/site-packages/ipydatagrid/datagrid.py:445: UserWarning: Index name of 'index' is not round-trippable.
  schema = pd.io.json.build_table_schema(dataframe)

RFBOutputContext()

/home/clewis7/repos/animal-soup/animal_soup/arrays/_video.py:96: UserWarning: min not implemented for LazyTiff, returning min of 0th index
  warn("min not implemented for LazyTiff, returning min of 0th index")
/home/clewis7/repos/animal-soup/animal_soup/arrays/_video.py:101: UserWarning: max not implemented for LazyTiff, returning min of 0th index
  warn("max not implemented for LazyTiff, returning min of 0th index")

RFBOutputContext()

VBox(children=(DataGrid(auto_fit_params={'area': 'all', 'padding': 30, 'numCols': None}, base_row_size=24, col…

# Clean up ethograms

In [16]:
container = ground.behavior.clean_ethograms()

/home/clewis7/venvs/mescore/lib/python3.11/site-packages/ipydatagrid/datagrid.py:445: UserWarning: Index name of 'index' is not round-trippable.
  schema = pd.io.json.build_table_schema(dataframe)

RFBOutputContext()

/home/clewis7/repos/mesmerize-core/mesmerize_core/arrays/_video.py:87: UserWarning: min not implemented for LazyTiff, returning min of 0th index
  warn("min not implemented for LazyTiff, returning min of 0th index")
/home/clewis7/repos/mesmerize-core/mesmerize_core/arrays/_video.py:92: UserWarning: max not implemented for LazyTiff, returning min of 0th index
  warn("max not implemented for LazyTiff, returning min of 0th index")

RFBOutputContext()

In [17]:
container.show()

VBox(children=(DataGrid(auto_fit_params={'area': 'all', 'padding': 30, 'numCols': None}, base_row_size=24, col…

In [20]:
container._clean_df

,animal_id,session_id,ethograms,notes
0,M232Slc17a7_Gtacr2,20170314,"{'M232_20170314_v029': [[0.0, 0.0, 0.0, 0.0, 0...",None
1,M232Slc17a7_Gtacr2,20170307,{},None
2,M232Slc17a7_Gtacr2,20170306,{},None
3,M232Slc17a7_Gtacr2,20170308,{},None
4,M232Slc17a7_Gtacr2,20170310,{},None
...,...,...,...,...
102,M324Slc17a7_Chr2_Bpn_CBPM,20201015,{},None
103,M326Slc17a7_Chr2_Bpn_DCN,20201110,{},None
104,M328Slc17a7_Chr2_Bpn_DCN,20201130,{},None
105,M336DYT1,20210613,{},None
106,M336DYT1,20210612,{},None

In [19]:
container.clean_df_path

PosixPath('/data/caitlin/ground_truth/ground_truth_cleaned.hdf')