In [25]:
import os
from pathlib import Path
import pandas as pd
import shutil
from tqdm import tqdm

In [2]:
exactly5 = pd.read_hdf('/data/caitlin/exactly5_hand_labels.hdf')
exactly4 = pd.read_hdf('/data/caitlin/exactly4_hand_labels.hdf')
exactly3 = pd.read_hdf('/data/caitlin/exactly3_hand_labels.hdf')
exactly2 = pd.read_hdf('/data/caitlin/exactly2_hand_labels.hdf')
exactly1 = pd.read_hdf('/data/caitlin/exactly1_hand_labels.hdf')

In [8]:
exactly4
count = 0
for row in exactly4.iterrows():
    count += len(row[1]["hand_labels"].keys())
count
len(sorted(Path('/data/caitlin/potential_ground_truth4/').glob('*.avi')))

201

In [5]:
exactly3
count = 0
for row in exactly3.iterrows():
    count += len(row[1]["hand_labels"].keys())
len(sorted(Path('/data/caitlin/potential_ground_truth3/').glob('*.avi')))

510

In [6]:
exactly2
count = 0
for row in exactly2.iterrows():
    count += len(row[1]["hand_labels"].keys())
len(sorted(Path('/data/caitlin/potential_ground_truth2/').glob('*.avi')))

1078

In [7]:
exactly1
count = 0
for row in exactly1.iterrows():
    count += len(row[1]["hand_labels"].keys())
len(sorted(Path('/data/caitlin/potential_ground_truth1/').glob('*.avi')))

1622

In [56]:
# organize data into sessions

In [65]:
for m in Path('/data/caitlin/ground_truth/').glob('M*'): 
    vids = [v.stem for v in sorted(m.glob('*.avi'))]
    for v in vids:
        session_id = v.split('_')[-2]
        os.makedirs(m.joinpath(session_id), exist_ok=True)
        shutil.move(src=m.joinpath(v).with_suffix('.avi'), dst=m.joinpath(session_id, v).with_suffix('.avi'))

In [66]:
vids

['M235_20170424_v001',
 'M235_20170424_v002',
 'M235_20170424_v003',
 'M235_20170425_v001',
 'M235_20170425_v002',
 'M235_20170425_v003',
 'M235_20170426_v001',
 'M235_20170426_v002']

In [67]:
df = pd.read_hdf("/data/caitlin/ground_truth.hdf")

In [68]:
df

                  trial                                           ethogram
0    M234_20170328_v004  [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...
1    M234_20170328_v005  [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...
2    M234_20170331_v001  [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...
3    M234_20170403_v001  [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...
4    M234_20170412_v001  [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...
..                  ...                                                ...
272  M259_20180402_v022  [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...
273  M275_20180830_v002  [[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...
274  M278_20180921_v004  [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...
275  M282_20181203_v073  [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...
276  M312_20200330_v005  [[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...

[277 rows x 2 columns]

In [82]:
new_df = pd.read_hdf('/data/caitlin/new_ground.hdf')

In [83]:
new_df

                     animal_id session_id ethogram
0           M232Slc17a7_Gtacr2   20170314       {}
1           M232Slc17a7_Gtacr2   20170307       {}
2           M232Slc17a7_Gtacr2   20170306       {}
3           M232Slc17a7_Gtacr2   20170308       {}
4           M232Slc17a7_Gtacr2   20170310       {}
..                         ...        ...      ...
102  M324Slc17a7_Chr2_Bpn_CBPM   20201015       {}
103   M326Slc17a7_Chr2_Bpn_DCN   20201110       {}
104   M328Slc17a7_Chr2_Bpn_DCN   20201130       {}
105                   M336DYT1   20210613       {}
106                   M336DYT1   20210612       {}

[107 rows x 3 columns]

In [112]:
# for v in sorted(Path('/data/caitlin/ground_truth/').glob('M*')):
#     for s in Path(v).glob('*'):
#         animal_id = s.parts[-2]
#         session_id = s.parts[-1]
#         vids = [v.stem for v in Path(s).glob('*.avi')]
#         for vi in vids:
#             print(animal_id, session_id, vi)
#             ix = new_df.loc[(new_df["animal_id"] == animal_id) & (new_df["session_id"] == session_id)].index[0]
#             ix2 = df[df["trial"]==vi].index[0]
#             new_df.loc[:,'ethogram'].loc[ix][vi] = df.loc[:, "ethogram"].loc[ix2]

In [121]:
pd.read_hdf('/data/caitlin/new_ground.hdf')

,animal_id,session_id,ethograms
0,M232Slc17a7_Gtacr2,20170314,"{'M232_20170314_v029': [[0.0, 0.0, 0.0, 0.0, 0..."
1,M232Slc17a7_Gtacr2,20170307,"{'M232_20170307_v064': [[0.0, 0.0, 0.0, 0.0, 0..."
2,M232Slc17a7_Gtacr2,20170306,"{'M232_20170306_v074': [[0.0, 0.0, 0.0, 0.0, 0..."
3,M232Slc17a7_Gtacr2,20170308,"{'M232_20170308_v034': [[0.0, 0.0, 0.0, 0.0, 0..."
4,M232Slc17a7_Gtacr2,20170310,"{'M232_20170310_v013': [[0, 0, 0, 0, 0, 0, 0, ..."
...,...,...,...
102,M324Slc17a7_Chr2_Bpn_CBPM,20201015,"{'M324_20201015_v127': [[0, 0, 0, 0, 0, 0, 0, ..."
103,M326Slc17a7_Chr2_Bpn_DCN,20201110,"{'M326_20201110_v001': [[0, 0, 0, 0, 0, 0, 0, ..."
104,M328Slc17a7_Chr2_Bpn_DCN,20201130,"{'M328_20201130_v001': [[0, 0, 0, 0, 0, 0, 0, ..."
105,M336DYT1,20210613,"{'M336_20210613_v001': [[0, 0, 0, 0, 0, 0, 0, ..."
106,M336DYT1,20210612,"{'M336_20210612_v002': [[0, 0, 0, 0, 0, 0, 0, ..."