In [1]:
import pandas as pd
import numpy as np
from pathlib import Path

In [14]:
test_df = pd.read_hdf('/data/caitlin/cross_validation/k2/k2_test_final.hdf')

In [15]:
test_df

,animal_id,session_id,trial_id,ethograms,deg_preds,exp_type,notes
0,M232Slc17a7_Gtacr2,20170306,M232_20170306_v036,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",None,table,None
1,M232Slc17a7_Gtacr2,20170306,M232_20170306_v040,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",None,table,None
2,M232Slc17a7_Gtacr2,20170306,M232_20170306_v049,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",None,table,None
3,M232Slc17a7_Gtacr2,20170306,M232_20170306_v053,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",None,table,None
4,M232Slc17a7_Gtacr2,20170306,M232_20170306_v060,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",None,table,None
...,...,...,...,...,...,...,...
295,M312Slc17a7_Chr2_Bpn_CB,20200402,M312_20200402_v004,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",None,table,None
296,M312Slc17a7_Chr2_Bpn_CB,20200402,M312_20200402_v125,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",None,table,None
297,M315Slc17a7_Chr2_Bpn_CB,20200401,M315_20200401_v001,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",None,table,None
298,M315Slc17a7_Chr2_Bpn_CB,20200401,M315_20200401_v002,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",None,table,None
299,M336DYT1,20210612,M336_20210612_v001,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",None,table,None

In [4]:
test_df.insert(
loc=4,
column="deg_preds",
value=None)

In [9]:
test_df

,animal_id,session_id,trial_id,ethograms,deg_preds,exp_type,notes
4,M232Slc17a7_Gtacr2,20170306,M232_20170306_v036,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",None,table,None
6,M232Slc17a7_Gtacr2,20170306,M232_20170306_v040,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",None,table,None
8,M232Slc17a7_Gtacr2,20170306,M232_20170306_v049,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",None,table,None
9,M232Slc17a7_Gtacr2,20170306,M232_20170306_v053,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",None,table,None
11,M232Slc17a7_Gtacr2,20170306,M232_20170306_v060,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",None,table,None
...,...,...,...,...,...,...,...
987,M312Slc17a7_Chr2_Bpn_CB,20200402,M312_20200402_v004,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",None,table,None
988,M312Slc17a7_Chr2_Bpn_CB,20200402,M312_20200402_v125,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",None,table,None
994,M315Slc17a7_Chr2_Bpn_CB,20200401,M315_20200401_v001,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",None,table,None
995,M315Slc17a7_Chr2_Bpn_CB,20200401,M315_20200401_v002,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",None,table,None
997,M336DYT1,20210612,M336_20210612_v001,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",None,table,None

In [10]:
test_df.reset_index(inplace=True)
test_df.drop(columns="index", inplace=True)

In [13]:
test_df.to_hdf('/data/caitlin/cross_validation/k2/k2_test_final.hdf',
               key='df')

/tmp/ipykernel_3723892/1471543670.py:1: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block0_values] [items->Index(['animal_id', 'session_id', 'trial_id', 'ethograms', 'deg_preds',
       'exp_type', 'notes'],
      dtype='object')]

  test_df.to_hdf('/data/caitlin/cross_validation/k2/k2_test_final.hdf',

In [16]:
deg_path = Path('/data/caitlin/cross_validation/k2/k2_deg/DATA/')

In [18]:
for ix, row in test_df.iterrows():
    deg_pred = pd.read_csv(deg_path.joinpath(row["trial_id"], row["trial_id"]).with_name(f'{row["trial_id"]}_predictions.csv'))
    deg_pred.drop(columns=["background", "Unnamed: 0"], inplace=True)
    pred_etho = deg_pred.to_numpy()
    test_df.loc[:, "deg_preds"].loc[ix] = pred_etho.T

In [19]:
test_df

,animal_id,session_id,trial_id,ethograms,deg_preds,exp_type,notes
0,M232Slc17a7_Gtacr2,20170306,M232_20170306_v036,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",table,None
1,M232Slc17a7_Gtacr2,20170306,M232_20170306_v040,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",table,None
2,M232Slc17a7_Gtacr2,20170306,M232_20170306_v049,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",table,None
3,M232Slc17a7_Gtacr2,20170306,M232_20170306_v053,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",table,None
4,M232Slc17a7_Gtacr2,20170306,M232_20170306_v060,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",table,None
...,...,...,...,...,...,...,...
295,M312Slc17a7_Chr2_Bpn_CB,20200402,M312_20200402_v004,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...","[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",table,None
296,M312Slc17a7_Chr2_Bpn_CB,20200402,M312_20200402_v125,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...","[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",table,None
297,M315Slc17a7_Chr2_Bpn_CB,20200401,M315_20200401_v001,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...","[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",table,None
298,M315Slc17a7_Chr2_Bpn_CB,20200401,M315_20200401_v002,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...","[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",table,None
299,M336DYT1,20210612,M336_20210612_v001,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...","[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",table,None

In [20]:
test_df.to_hdf('/data/caitlin/cross_validation/k2/k2_test_final.hdf', key='df')

/tmp/ipykernel_3723892/3759158303.py:1: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block0_values] [items->Index(['animal_id', 'session_id', 'trial_id', 'ethograms', 'deg_preds',
       'exp_type', 'notes'],
      dtype='object')]

  test_df.to_hdf('/data/caitlin/cross_validation/k2/k2_test_final.hdf', key='df')

In [21]:
pd.read_hdf('/data/caitlin/cross_validation/k2/k2_test_final.hdf')

,animal_id,session_id,trial_id,ethograms,deg_preds,exp_type,notes
0,M232Slc17a7_Gtacr2,20170306,M232_20170306_v036,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",table,None
1,M232Slc17a7_Gtacr2,20170306,M232_20170306_v040,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",table,None
2,M232Slc17a7_Gtacr2,20170306,M232_20170306_v049,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",table,None
3,M232Slc17a7_Gtacr2,20170306,M232_20170306_v053,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",table,None
4,M232Slc17a7_Gtacr2,20170306,M232_20170306_v060,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",table,None
...,...,...,...,...,...,...,...
295,M312Slc17a7_Chr2_Bpn_CB,20200402,M312_20200402_v004,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...","[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",table,None
296,M312Slc17a7_Chr2_Bpn_CB,20200402,M312_20200402_v125,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...","[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",table,None
297,M315Slc17a7_Chr2_Bpn_CB,20200401,M315_20200401_v001,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...","[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",table,None
298,M315Slc17a7_Chr2_Bpn_CB,20200401,M315_20200401_v002,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...","[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",table,None
299,M336DYT1,20210612,M336_20210612_v001,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...","[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",table,None