In [6]:
import pandas as pd
import numpy as np
from pathlib import Path

In [7]:
test_df = pd.read_hdf('/data/caitlin/cross_validation/k1/k1_test.hdf')

In [8]:
test_df

,animal_id,session_id,trial_id,ethograms,exp_type,notes
0,M232Slc17a7_Gtacr2,20170306,M232_20170306_v043,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",table,None
1,M232Slc17a7_Gtacr2,20170306,M232_20170306_v049,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",table,None
2,M232Slc17a7_Gtacr2,20170306,M232_20170306_v070,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",table,None
3,M232Slc17a7_Gtacr2,20170306,M232_20170306_v076,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",table,None
4,M232Slc17a7_Gtacr2,20170307,M232_20170307_v047,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",table,None
...,...,...,...,...,...,...
295,M311Slc17a7_Chr2_Bpn_CB,20200403,M311_20200403_v008,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",table,None
296,M312Slc17a7_Chr2_Bpn_CB,20200330,M312_20200330_v005,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",table,None
297,M312Slc17a7_Chr2_Bpn_CB,20200402,M312_20200402_v004,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",table,None
298,M315Slc17a7_Chr2_Bpn_CB,20200401,M315_20200401_v002,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",table,None
299,M315Slc17a7_Chr2_Bpn_CB,20200404,M315_20200404_v024,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",table,None

In [9]:
test_df.insert(
loc=4,
column="deg_preds",
value=None)

In [10]:
test_df

,animal_id,session_id,trial_id,ethograms,deg_preds,exp_type,notes
0,M232Slc17a7_Gtacr2,20170306,M232_20170306_v043,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",None,table,None
1,M232Slc17a7_Gtacr2,20170306,M232_20170306_v049,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",None,table,None
2,M232Slc17a7_Gtacr2,20170306,M232_20170306_v070,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",None,table,None
3,M232Slc17a7_Gtacr2,20170306,M232_20170306_v076,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",None,table,None
4,M232Slc17a7_Gtacr2,20170307,M232_20170307_v047,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",None,table,None
...,...,...,...,...,...,...,...
295,M311Slc17a7_Chr2_Bpn_CB,20200403,M311_20200403_v008,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",None,table,None
296,M312Slc17a7_Chr2_Bpn_CB,20200330,M312_20200330_v005,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",None,table,None
297,M312Slc17a7_Chr2_Bpn_CB,20200402,M312_20200402_v004,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",None,table,None
298,M315Slc17a7_Chr2_Bpn_CB,20200401,M315_20200401_v002,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",None,table,None
299,M315Slc17a7_Chr2_Bpn_CB,20200404,M315_20200404_v024,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",None,table,None

In [11]:
deg_path = Path('/data/caitlin/cross_validation/k1/k1_deg/DATA/')

In [19]:
for ix, row in test_df.iterrows():
    deg_pred = pd.read_csv(deg_path.joinpath(row["trial_id"], row["trial_id"]).with_name(f'{row["trial_id"]}_predictions.csv'))
    deg_pred.drop(columns=["background", "Unnamed: 0"], inplace=True)
    pred_etho = deg_pred.to_numpy()
    test_df.loc[:, "deg_preds"].loc[ix] = pred_etho.T

In [21]:
#test_df.to_hdf('/data/caitlin/cross_validation/k1/k1_test_preds.hdf', key='df')

/tmp/ipykernel_1569546/2799660252.py:1: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block0_values] [items->Index(['animal_id', 'session_id', 'trial_id', 'ethograms', 'deg_preds',
       'exp_type', 'notes'],
      dtype='object')]

  test_df.to_hdf('/data/caitlin/cross_validation/k1/k1_test_preds.hdf', key='df')

In [22]:
pd.read_hdf('/data/caitlin/cross_validation/k1/k1_test_preds.hdf')

,animal_id,session_id,trial_id,ethograms,deg_preds,exp_type,notes
0,M232Slc17a7_Gtacr2,20170306,M232_20170306_v043,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",table,None
1,M232Slc17a7_Gtacr2,20170306,M232_20170306_v049,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",table,None
2,M232Slc17a7_Gtacr2,20170306,M232_20170306_v070,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",table,None
3,M232Slc17a7_Gtacr2,20170306,M232_20170306_v076,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",table,None
4,M232Slc17a7_Gtacr2,20170307,M232_20170307_v047,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",table,None
...,...,...,...,...,...,...,...
295,M311Slc17a7_Chr2_Bpn_CB,20200403,M311_20200403_v008,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",table,None
296,M312Slc17a7_Chr2_Bpn_CB,20200330,M312_20200330_v005,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...","[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",table,None
297,M312Slc17a7_Chr2_Bpn_CB,20200402,M312_20200402_v004,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...","[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",table,None
298,M315Slc17a7_Chr2_Bpn_CB,20200401,M315_20200401_v002,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...","[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",table,None
299,M315Slc17a7_Chr2_Bpn_CB,20200404,M315_20200404_v024,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...","[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",table,None