In [1]:
import pandas as pd
import numpy as np
import os
import shutil 
from pathlib import Path
from tqdm import tqdm

In [2]:
k_train = pd.read_hdf('/data/caitlin/cross_validation/k1/k1_train.hdf')

In [3]:
k_train

,animal_id,session_id,trial_id,ethograms,exp_type,notes
0,M232Slc17a7_Gtacr2,20170306,M232_20170306_v017,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",table,None
1,M232Slc17a7_Gtacr2,20170306,M232_20170306_v024,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",table,None
2,M232Slc17a7_Gtacr2,20170306,M232_20170306_v025,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",table,None
3,M232Slc17a7_Gtacr2,20170306,M232_20170306_v029,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",table,None
4,M232Slc17a7_Gtacr2,20170306,M232_20170306_v036,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",table,None
...,...,...,...,...,...,...
993,M312Slc17a7_Chr2_Bpn_CB,20200412,M312_20200412_v001,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",table,None
994,M315Slc17a7_Chr2_Bpn_CB,20200401,M315_20200401_v001,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",table,None
997,M336DYT1,20210612,M336_20210612_v001,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",table,None
998,M336DYT1,20210612,M336_20210612_v002,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",table,None
999,M336DYT1,20210613,M336_20210613_v001,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",table,None

In [4]:
training_folder = Path('/data/caitlin/cross_validation/k1/k1_deg/DATA/')
for ix, row in tqdm(k_train.iterrows()):
    etho_array = row["ethograms"]
    etho_df = pd.DataFrame(columns=["background","lift", "handopen", "grab", "sup", "atmouth", "chew"])
    for r in etho_array.T:
        if sum(r) > 0:
            background = 0
        else:
            background = 1
        r = np.insert(r, 0, background)
        etho_df.loc[etho_df.index.size] = r
    path = training_folder.joinpath(row["trial_id"], row["trial_id"]).with_name(f'{row["trial_id"]}_labels').with_suffix('.csv')
    etho_df.to_csv(path_or_buf=path)

700it [08:04,  1.44it/s]