In [1]:
import pandas as pd
import os
import shutil
from pathlib import Path

In [12]:
k5_train = pd.read_hdf('/data/caitlin/cross_validation/k5/k5_train.hdf')
k5_test = pd.read_hdf('/data/caitlin/cross_validation/k5/k5_test.hdf')

In [13]:
k5_train

,animal_id,session_id,trial_id,ethograms,exp_type,notes
0,M232Slc17a7_Gtacr2,20170306,M232_20170306_v017,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",table,None
1,M232Slc17a7_Gtacr2,20170306,M232_20170306_v024,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",table,None
2,M232Slc17a7_Gtacr2,20170306,M232_20170306_v025,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",table,None
3,M232Slc17a7_Gtacr2,20170306,M232_20170306_v029,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",table,None
4,M232Slc17a7_Gtacr2,20170306,M232_20170306_v038,"[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...",table,None
...,...,...,...,...,...,...
695,M312Slc17a7_Chr2_Bpn_CB,20200405,M312_20200405_v003,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",table,None
696,M312Slc17a7_Chr2_Bpn_CB,20200412,M312_20200412_v001,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",table,None
697,M315Slc17a7_Chr2_Bpn_CB,20200401,M315_20200401_v001,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",table,None
698,M336DYT1,20210612,M336_20210612_v001,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",table,None
699,M336DYT1,20210613,M336_20210613_v001,"[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,...",table,None

In [14]:
shutil.move('/data/caitlin/cross_validation/k4/train_vids/', '/data/caitlin/cross_validation/k5/train_vids/')

'/data/caitlin/cross_validation/k5/train_vids/'

In [15]:
os.makedirs('/data/caitlin/cross_validation/k5/test_vids/')

In [16]:
dp = Path('/data/caitlin/cross_validation/k5/train_vids/')
dst = Path('/data/caitlin/cross_validation/k5/test_vids/')
gp = Path('/data/caitlin/ground_truth/')

In [17]:
for ix, row in k5_test.iterrows():
    # if not os.path.exists(dst.joinpath(row["trial_id"]).with_suffix('.avi')):
    #     print(row)
    if os.path.exists(dp.joinpath(row["trial_id"]).with_suffix('.avi')):
        shutil.move(dp.joinpath(row["trial_id"]).with_suffix('.avi'), dst.joinpath(row["trial_id"]).with_suffix('.avi'))
    else:
        shutil.copy(src=gp.joinpath(row["animal_id"], row["session_id"], row["trial_id"]).with_suffix('.avi'), 
                    dst= dst.joinpath(row["trial_id"]).with_suffix('.avi'))

In [18]:
for ix, row in k5_train.iterrows():
    if not os.path.exists(dp.joinpath(row["trial_id"]).with_suffix('.avi')):
    #     print(row)
         shutil.copy(src=gp.joinpath(row["animal_id"], row["session_id"], row["trial_id"]).with_suffix('.avi'), 
                    dst= dp.joinpath(row["trial_id"]).with_suffix('.avi'))