In [18]:
import pandas as pd
import os
import shutil
from pathlib import Path
import numpy as np

In [3]:
ground = pd.read_hdf('/data/caitlin/ground_truth/ground_truth_444.hdf')

In [4]:
only_table = ground[ground["type"] == "table"]

In [5]:
only_table

,animal_id,session_id,ethograms,type,notes
0,M232Slc17a7_Gtacr2,20170314,"{'M232_20170314_v029': [[0.0, 0.0, 0.0, 0.0, 0...",table,[]
1,M232Slc17a7_Gtacr2,20170307,"{'M232_20170307_v064': [[0.0, 0.0, 0.0, 0.0, 0...",table,[]
2,M232Slc17a7_Gtacr2,20170306,"{'M232_20170306_v074': [[0.0, 0.0, 0.0, 0.0, 0...",table,[]
3,M232Slc17a7_Gtacr2,20170308,"{'M232_20170308_v034': [[0.0, 0.0, 0.0, 0.0, 0...",table,[]
4,M232Slc17a7_Gtacr2,20170310,"{'M232_20170310_v013': [[0, 0, 0, 0, 0, 0, 0, ...",table,[]
...,...,...,...,...,...
145,M304Slc17a7_Chr2_Bpn_DCN,20191217,"{'M304_20191217_v005': [[0.0, 0.0, 0.0, 0.0, 0...",table,[]
146,M311Slc17a7_Chr2_Bpn_CB,20200331,"{'M311_20200331_v013': [[0.0, 0.0, 0.0, 0.0, 0...",table,[]
147,M311Slc17a7_Chr2_Bpn_CB,20200403,"{'M311_20200403_v008': [[0.0, 0.0, 0.0, 0.0, 0...",table,[]
149,M236Slc17a7_Gtacr2,20170818,"{'M236_20170818_v042': [[0.0, 0.0, 0.0, 0.0, 0...",table,[]
150,M238Slc17a7_Chr2,20170717,"{'M238_20170717_v066': [[0.0, 0.0, 0.0, 0.0, 0...",table,[]

In [6]:
count = 0
for row in only_table.iterrows():
    for key in row[1]["ethograms"]:
        count += 1
count

404

In [12]:
src = Path('/data/caitlin/ground_truth/')
dst = Path('/data/caitlin/deg-clean-jaaba/DATA/')

In [16]:
# for row in only_table.iterrows():
#     animal_id = row[1]["animal_id"]
#     session_id = row[1]["session_id"]
#     for key in row[1]["ethograms"].keys():
#         os.makedirs(dst.joinpath(key))
#         shutil.copy(src=src.joinpath(animal_id, session_id, key).with_suffix('.avi'), dst=dst.joinpath(key, key).with_suffix('.avi'))

In [19]:
from tqdm import tqdm

In [26]:
for row in only_table.iterrows():
    animal_id = row[1]["animal_id"]
    session_id = row[1]["session_id"]
    etho_df = pd.DataFrame(columns=["background","lift", "handopen", "grab", "sup", "atmouth", "chew"])
    for key in row[1]["ethograms"].keys():
        for b in row[1]["ethograms"][key].T:
            if sum(b) > 0:
                background = 0
            else:
                background = 1
            b = np.insert(b, 0, background)
            etho_df.loc[etho_df.index.size] = b
        path = dst.joinpath(key, key).with_name(f'{key}_labels').with_suffix('.csv')
        etho_df.to_csv(path_or_buf=path)